<header>
  <div class="header-container">
    <nav>
      <ul>
        <li>
          <a href="#top">
            <div class="ariton-logo-container">
              <div class="ariton-logo" alt="Ariton logo"></div>
              <div class="ariton-text" alt="Ariton logo"></div>
            </div>
          </a>
        </li>

        <li class="hide-small">
          <a class="menu-link" href="#help">Help Center</a>
        </li>
        <li class="hide-tiny">
          <a class="menu-link" href="https://ariton.app">Back to Ariton.app</a>
        </li>
        <li>
          <a href="#" onclick="event.preventDefault();" class="theme-toggle">
            <svg width="30" height="30" id="light-icon">
              <circle cx="15" cy="15" r="6" fill="currentColor" />

              <line
                id="ray"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                x1="15"
                y1="1"
                x2="15"
                y2="4"
              ></line>

              <use href="#ray" transform="rotate(45 15 15)" />
              <use href="#ray" transform="rotate(90 15 15)" />
              <use href="#ray" transform="rotate(135 15 15)" />
              <use href="#ray" transform="rotate(180 15 15)" />
              <use href="#ray" transform="rotate(225 15 15)" />
              <use href="#ray" transform="rotate(270 15 15)" />
              <use href="#ray" transform="rotate(315 15 15)" />
            </svg>
            <svg width="30" height="30" id="dark-icon">
              <path
                fill="currentColor"
                d="
              M 23, 5
              A 12 12 0 1 0 23, 25
              A 12 12 0 0 1 23, 5"
              />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <h1 class="headline" id="help">Welcome. How can we help?</h1>

  <!-- <input type="text"> -->

  <router-outlet />

  <h3>Communities</h3>
  <div class="topic-container">
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
  </div>

  <h3>Friends</h3>
  <div class="topic-container">
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
  </div>

  <h3>Chat</h3>
  <div class="topic-container">
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
    <div class="topic">
      <h4>How to create a community</h4>
      <p>Here are the steps you need to follow to create a community</p>
    </div>
  </div>
</main>

<div class="download-container">
  <div class="ariton-logo-footer" alt="Ariton logo"></div>
  Crafted with ❤️ by Ariton team
  <a href="https://alpha.ariton.app">
    <button>Open Ariton</button>
  </a>
</div>
